<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birth Certificate Generation.</title>
</head>
<body>
    <header>
        <div>
            <h1>Birth Certificate Generator.</h1>
        </div>
        <ul>
            <li><a href="http://localhost:5000/newborn">New Born</a></li>
            <li><a href="http://localhost:5000/lateRe">Adolescent</a></li>
        </ul>

    </header>
    <main>
        <section>
            <div>
                <h1>Birth Certificate Generator: HOME</h1>
            </div>
        </section>
    </main>
</body>
</html>